@import '~normalize.css/normalize.css';

/* Presets */
html {
  scroll-behavior: smooth;
}

:root {
  /* Whidespread used variables */
  --primary-fonts: system-ui;
  --primary-font-color--black: #000;
  --primary-font-color--white: #fff;
  --primary-bg-color--dark-blue: #393948;
  --primary-padding: 5dvw;
  --primary-padding--small: 1dvw;

  /* Header hamburger menu styling */
  --bar-width: 18px;
  --bar-height: 2px;
  --hamburger-gap: 3px;
  --foreground: #fff;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body {
  font-family: var(--primary-fonts);
  font-size: 1rem;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* Whidespread used classes */

/* website primary header */
.header__content {
  color: var(--primary-font-color--white);
  display: grid;
  position: relative;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1.5rem var(--primary-padding);
  background-color: var(--primary-bg-color--dark-blue);
}
.header__content-title {
  font-size: 2rem;
}
.header__nav-links-list {
  display: flex;
  gap: 2rem;
}
.header__nav-link {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--primary-font-color--white);
  text-decoration: underline;
  text-decoration-color: transparent;
  letter-spacing: 0.125rem;
  transition: text-decoration-color 750ms, text-underline-offset 100ms;
  text-underline-offset: 0.75rem;
  text-decoration-thickness: 0.125rem;
}
.header__nav-link:hover {
  text-decoration-color: var(--primary-font-color--white);
}
.header__nav-link:active {
  text-underline-offset: 1rem;
}

/* Hamburger menu */
.header__hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: none;
  position: absolute;
  z-index: 11;
  flex-direction: column;
  gap: var(--hamburger-gap);
  right: 1rem;
  width: max-content;
  cursor: pointer;
}
.header__hamburger-menu::before,
.header__hamburger-menu::after,
.header__hamburger-menu input {
  content: '';
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing),
    translate var(--animation-timing), background-color var(--animation-timing);
}
.header__hamburger-menu input {
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
  appearance: none;
}
.header__hamburger-menu:has(input:checked)::before {
  width: var(--x-width);
  rotate: 45deg;
  translate: 0 calc(var(--bar-height) / -2);
}
.header__hamburger-menu:has(input:checked)::after {
  width: var(--x-width);
  rotate: -45deg;
  translate: 0 calc(var(--bar-height) / 2);
}
.header__hamburger-menu input:checked {
  width: 0;
  opacity: 0;
}
.header__hamburger-menu-sidebar {
  text-align: center;
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 100%;
  width: 100dvw;
  min-height: 100dvh;
  background-color: var(--primary-bg-color--dark-blue);
  transition: right var(--animation-timing);
  translate: 0;
}
.header__hamburger-menu-sidebar > .header__nav-list-element > .header__nav-link {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  color: var(--primary-font-color--white);
  line-height: normal;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.2rem;
}

@media screen and (width < 850px) {
  /* website primary header */
  .header__nav--primary {
    display: none;
  }
  .header__hamburger-menu {
    display: flex;
  }
  .header__hamburger-menu-sidebar {
    display: flex;
    visibility: visible;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
}
