@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Presets */
html {
  scroll-behavior: smooth;
}

:root {
  /* !Variables: Whidespread used variables */
  --primary-fonts: Josefin Sans;
  --primary-font-color: #1b2219d9;
  --primary-font-color--white: #fff;
  --secondary-font-color: #1b2219bf;
  --primary-bg-color: #000000da;
  --body-primary-bg-color: #fbebc14b;
  --h1-title-font-size--small: 1.25rem;
  --h2-title-font-size--normal: 2.25rem;
  --h2-title-font-size--small: 1.5rem;
  --h3-title-font-size--normal: 1.5rem;
  --h3-title-font-size--small: 1.25rem;
  --h4-title-font-size--normal: 1.1rem;
  --h4-title-font-size--small: 0.85rem;

  --text-size-project-item-title: 2rem;
  --text-size-projects__description-title: 1.75rem;
  --text-size-projects__description-title--small: 1.25rem;

  --font-size-text--normal: 1.25rem;
  --font-size-text--small: 0.85rem;

  /* !Variables: Header hamburger menu styling */
  --bar-width: 18px;
  --bar-height: 2px;
  --hamburger-gap: 3px;
  --foreground: #fff;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

/* !Resets */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-fonts);
  font-size: 1rem;
  color: var(--primary-font-color);
  position: relative;
  background-color: var(--body-primary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* *Section start: Whidespread used classes */
.section__title--h2 {
  font-size: var(--h2-title-font-size--normal);
}
.section__title--h3 {
  font-size: var(--h3-title-font-size--normal);
}
.section__title--h4 {
  font-size: var(--h4-title-font-size--normal);
}

/* *Section start: website primary header */
.header__content {
  color: var(--primary-font-color--white);
  display: grid;
  position: fixed;
  width: 100%;
  top: 0;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  background-color: #000000f3;
  z-index: 10;
  box-shadow: #000 0px 5px 20px;
  height: 40px;
}
.header__content-title {
  font-size: var(--h2-title-font-size--normal);
  font-style: italic;
  color: var(--primary-font-color--white);
  font-weight: 600;
}
.header__nav-links-list {
  display: flex;
  gap: 2rem;
}
.header__nav-link {
  font-size: var(--font-size-text--normal);
  font-weight: 600;
  color: var(--primary-font-color--white);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 750ms, text-underline-offset 100ms;
  text-underline-offset: 0.75rem;
  text-decoration-thickness: 0.125rem;
}
.header__nav-link:hover {
  text-decoration-color: var(--primary-font-color--white);
}
.header__nav-link:active {
  text-underline-offset: 1rem;
}

/* *Section start: Hamburger menu */
.header__hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: none;
  position: absolute;
  z-index: 11;
  flex-direction: column;
  gap: var(--hamburger-gap);
  right: 1rem;
  width: max-content;
  cursor: pointer;
}
.header__hamburger-menu::before,
.header__hamburger-menu::after,
.header__hamburger-menu input {
  content: '';
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing),
    translate var(--animation-timing), background-color var(--animation-timing);
}
.header__hamburger-menu input {
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
  appearance: none;
}
.header__hamburger-menu:has(input:checked)::before {
  width: var(--x-width);
  rotate: 45deg;
  translate: 0 calc(var(--bar-height) / -2);
}
.header__hamburger-menu:has(input:checked)::after {
  width: var(--x-width);
  rotate: -45deg;
  translate: 0 calc(var(--bar-height) / 2);
}
.header__hamburger-menu input:checked {
  width: 0;
  opacity: 0;
}
.header__hamburger-menu-sidebar {
  text-align: center;
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 100%;
  width: 100dvw;
  min-height: 100dvh;
  background-color: var(--primary-bg-color);
  transition: right var(--animation-timing);
  translate: 0;
}
.header__hamburger-menu-sidebar > .header__nav-list-element > .header__nav-link {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  color: var(--primary-font-color--white);
  line-height: normal;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.2rem;
}

/* *Section start: All content section */
.all-content {
  padding: 0 15dvw;
}

/* *Section start: About-me main section */
.about-me {
  padding: 1rem 0;
}
.about-me__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  height: 90dvh;
  margin-top: 90px;
}
.about-me__photo-block {
  position: relative;
  align-self: center;
  display: flex;
}
.about-me__photo {
  border: none;
  border-radius: 100%;
  max-width: 600px;
  transition: all 500ms ease-in-out;
}
.about-me__photo:hover {
  box-shadow: 0px 0px 10px 5px #0000005e, 0px 0px 50px 8px #3f3c3cda, 0px 0px 100px 10px #a8a5a5da;
  transform: scale(1.05) translateY(20px);
}
.about-me__text-content {
  position: relative;
  max-width: 600px;
  align-self: center;
}

.about-me__text-title {
  font-size: 4rem;
}
.about-me__text {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 30px;
}
.about-me__text-span {
  text-indent: 1rem;
  letter-spacing: 0.03rem;
  line-height: 1.5rem;
  display: block;
  position: relative;
}

.about-me__social-media-block {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  gap: 2rem;
}
.about-me__social-media-link {
  display: block;
  position: relative;
  transition: all 1s ease-in-out;
}

.about-me__social-media-link:hover {
  transform: rotate(360deg);
}

/* *Section start: skills section */
#skills {
  scroll-margin-top: 250px;
}
.skills__content {
  color: var(--primary-font-color--white);
  margin: 10rem 0;
  padding: 2rem;
  background-color: var(--primary-bg-color);
  box-shadow: #000 0px 5px 20px;
  position: relative;
  z-index: 0;
}
.skills_content-title {
  text-align: center;
  padding: 1rem 0;
}
.skills__content-cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  padding: 1rem 15dvw;
  justify-items: center;
}
.skills__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
  border-bottom-color: transparent;
  transition: border-bottom-color 250ms ease-in-out;
}
.skills__card:hover {
  border-bottom-color: var(--primary-font-color--white);
}
.skills__card-icon {
  max-width: 75px;
  transition: all 300ms ease-in-out;
}
.skills__card-icon:hover {
  transform: scale(1.1);
}
.skills__card-title {
  font-size: 1.25rem;
}

/* *Section start: project section */

.projects__title {
  text-align: center;
  padding: 3rem 0 1rem;
  font-weight: 600;
}
.projects__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 0 10dvw;
  grid-gap: 5px;
}
.projects__project-block {
  color: white;
  align-items: center;
  padding: 2rem;
  max-height: fit-content;
  background-color: var(--primary-bg-color);
  border-radius: 1rem;
}
.projects__image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.projects__image {
  min-width: 280px;
  max-width: 700px;
  filter: blur(2px);
  transition: filter 500ms, transform 1s, border-radius 1s;
}
.projects__image:hover {
  transform: scale(1.1);
  border-radius: 0.5rem;
  filter: blur(0);
}
.projects__info-block {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  padding: 1rem;
}
.projects__description-title {
  font-size: var(--text-size-projects__description-title);
  margin-bottom: 0.5rem;
}
.projects__content-description {
  font-size: var(--font-size-text--normal);
  letter-spacing: 0.03rem;
  line-height: 1.5rem;
}
.projects__technologies > b {
  font-size: 1.75rem;
}
.projects__technologies {
  font-size: var(--font-size-text--normal);
}
.projects__item-title {
  font-size: var(--text-size-project-item-title);
  padding: 0;
}
.projects__nav {
  display: flex;
  gap: 2rem;
  justify-content: right;
  align-items: center;
  padding: 1rem 0;
  flex-wrap: wrap;
}
.projects__nav-link {
  font-weight: 600;
  color: black;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.projects__nav-link:hover {
  animation: projects__link 750ms ease;
  animation-fill-mode: forwards;
}

@keyframes projects__link {
  from {
    border-radius: 0 0.5rem 0.5rem 0.5rem;
  }
  25% {
    border-radius: 0 0rem 0.5rem 0.5rem;
  }
  50% {
    border-radius: 0 0rem 0rem 0.5rem;
  }
  75% {
    border-radius: 0 0rem 0rem 0rem;
  }
  to {
    border-radius: 0 0rem 0rem 0rem;
    box-shadow: #000 0 0 20px;
  }
}

.projects__link-icon {
  width: 24px;
  height: 24px;
}

/* *Section start: footer section */

.footer__content {
  text-align: center;
  margin: 2rem 0 1rem;
}
.footer__copyright-text {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.footer__contact {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.footer__link {
  font-size: 1.25rem;
  color: var(--primary-font-color);
  text-decoration: none;
}
.footer__link:hover {
  color: var(--primary-bg-color);
}

@media screen and (width < 1366px) {
  .all-content {
    padding: 0 5vw;
  }
  /* *Section start: about me section */
  .about-me__photo {
    max-width: 500px;
  }
}

@media screen and (width < 1024px) {
  /* *Section start: website primary header */
  .header__nav--primary {
    display: none;
  }
  .header__hamburger-menu {
    display: flex;
    padding: 0.5rem;
  }
  .header__hamburger-menu-sidebar {
    display: flex;
    visibility: visible;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }

  /* *Section start: about-me section */
  .about-me__content {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }
  .about-me__photo-block {
    justify-content: center;
  }
  .about-me__photo {
    max-width: 350px;
  }
  .about-me__text-content {
    max-width: 100%;
  }
  .about-me__text-title {
    font-size: 3rem;
  }
  .about-me__text {
    font-size: 1.25rem;
    padding: 0.5rem;
  }

  /* *Section start: skills section */
  .skills__content {
    margin: 5rem 0;
  }
  .skills__content-cards {
    padding: 1rem 5dvw;
  }
}

@media screen and (width < 768px) {
  /* *Section start: Whidespread used classes */
  .section__title--h2 {
    font-size: var(--h2-title-font-size--small);
  }
  .section__title--h3 {
    font-size: var(--h3-title-font-size--small);
  }
  .section__title--h4 {
    font-size: var(--h4-title-font-size--small);
  }
  .section__text {
    font-size: var(--font-size-text--small);
    line-height: 1.1rem;
  }

  /* *Section start: Primary header*/
  .header__content {
    justify-content: space-between;
  }
  .header__content-title {
    padding: 0 1rem;
  }
  .header__content-title {
    font-size: var(--h1-title-font-size--small);
  }

  /* *Section start: All content section */
  .all-content {
    padding: 0 1rem;
  }

  /* *Section start: About-me main section */
  .about-me__content {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-bottom: 2rem;
    grid-gap: 2rem;
  }
  .about-me__photo-block {
    order: 0;
  }
  .about-me__text-content {
    order: 1;
    text-align: center;
  }
  .about-me__text-title {
    font-size: 2.5rem;
  }
  .about-me__text {
    font-size: 1.15rem;
  }
  .about-me__photo {
    max-width: 300px;
  }
  .about-me__social-media-image {
    width: 42px;
    height: 42px;
  }
  .about-me__social-media-block {
    justify-content: center;
  }

  /* *Section start: skills section */
  .skills__content {
    padding: 0;
    margin: 10rem 0;
  }
  .skills__card {
    gap: 0.5rem;
  }
  .skills__card-icon {
    max-width: 50px;
  }

  /* *Section start: projects section */
  .projects__content {
    grid-gap: 1rem;
    padding: 0 1rem;
  }
  .projects__project-block {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 0.5rem;
  }
  .projects__image:hover {
    transform: scale(1.02);
  }
  .projects__description-title {
    font-size: var(--text-size-projects__description-title--small);
  }
  .projects__technologies > b {
    font-size: 1.25rem;
  }
}

@media screen and (width < 500px) {
  /* *Section start: about-me section */
  .about-me__content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 2rem;
  }

  /* *Section start: projects section */
  .projects__content {
    padding: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .projects__nav {
    gap: 1rem;
  }
}

@media screen and (width < 375px) {
  /* *Section start: All content */
  .all-content {
    padding: 0;
  }
}
